{% extends "base.html" %}

{% block contenido %}

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="POST">

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" name="nombre" class="form-control" value="{{ persona.nombre }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Edad</label>
        <input type="number" name="edad" class="form-control" value="{{ persona.edad }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" value="{{ persona.email }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Fecha de nacimiento</label>
        <input type="date" name="fecha_nac" class="form-control" value="{{ persona.fecha_nac }}">
    </div>

    <button type="submit" class="btn btn-success">Guardar cambios</button>
    <a href="/lista" class="btn btn-secondary">Cancelar</a>

</form>

{% endblock %}